<div class="col-sm-6 col-md-4 mb-5">
    <div class="card card-shadow">
        <img class="card-img-top img-card" src="{{farmImg.path}}" alt="{{farmname}}">
        <div class="card-body ">
            <h3>{{farmname}}</h3>
            <p class="mb-3"><strong>The Owner: </strong> {{user.name}} {{user.surname}} </p>
            <div class="mt-5 d-flex justify-content-between">
                <a class="mr-2 btn btn-farm" href="/farms/{{_id}}">View more</a>
                <form action="/farms?id={{_id}}" method="POST">
                    <button class="btn btn-fav" type="submit">Add to fav</button>
                </form>

            </div>
        </div>

    </div>
</div>