
    <h2 class="mt-5">All my products</h2>
    <a href="/profile/myfarm/{{farmInfo.id}}/create-product" class="mt-5 btn btn-success">Add product</a>
    <hr>
    <div class="row">

        {{#each allProducts}}
        <div class="col-md-4 mt-5">
            <div class="card ">
                <div class="card-body ">
                    <img class="card-img-top" src="{{productImg}}" alt="{{name}}">
                    <h3 class=" card-header card-title mb-5">{{name}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-primary" href="/profile/myfarm/{{farm.id}}/edit-product?id={{id}}">Edit</a>
                        <a class=" mr-2 btn btn-danger" href="/profile/myfarm/{{farm.id}}/delete-product?id={{id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

