<img class="img-farm-detail" src="{{farmInfo.farmImg.path}}" alt="{{farmInfo.farmname}}">
<div class="container">

    <h1>{{farmInfo.farmname}}</h1>
    <figure>
    </figure>
    <h4 class="mt-5">Description</h4>
    <p>{{farmInfo.description}}</p>
    <p><strong>The Owner: </strong> {{farmInfo.user.name}} {{farmInfo.user.surname}} </p>
    <p><strong>Latitude:</strong> {{farmInfo.location.coordinates.[0]}}</p>
    <p><strong>Longitude:</strong> {{farmInfo.location.coordinates.[1]}}</p>

    <a class=" mr-2 btn btn-info" href="/profile/myfarm/{{farmInfo.id}}/edit">Edit Farm</a>
    <a class=" mr-2 btn btn-info" href="/profile/myfarm/{{farmInfo.id}}/delete">Delete Farm</a>

    <a href="/profile" class="btn btn-dark mt-5">Go back </a>

</div>

<div class="container">
    <hr>
    <h2 class="mt-5">All my products</h2>
    <a href="/profile/myfarm/{{farmInfo.id}}/create-product" class="mt-5 btn btn-success">Add product</a>
    <hr>

    <div class="row">

        {{#each allProducts}}
        <div class="col-sm-6 col-md-4 mt-5">
            <div class="card card-shadow">
                <div class="card-body ">
                    <img class="card-img-top img-card" src="{{productImg.path}}" alt="{{name}}">
                    <h3 class=" card-header card-title mb-5">{{name}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-primary"
                            href="/profile/myfarm/{{farm.id}}/edit-product?id={{id}}">Edit</a>
                        <a class=" mr-2 btn btn-danger"
                            href="/profile/myfarm/{{farm.id}}/delete-product?id={{id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>