<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome {{user.username}}!</h1>
            <p>You are a {{user.role}}, you have access to this page</p>
            {{#if uncompleted}}
            <div class="alert alert-warning" role="alert">
                Completa tu perfil
            </div>
            {{/if}}
            {{#if isFarmer}}
            <a href="/profile/create-farm?id={{user.id}}" class="btn btn-warning">Create your farm profile</a>
            {{/if}}
        </div>
    </div>

    {{#if isFarmer}}
    <h2 class="mt-5">All my products</h2>
    <a href="#" class="mt-5 btn btn-success">Add product</a>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card ">
                <div class="card-body ">
                    <img class="card-img-top" src="{{productImg}}" alt="{{name}}">
                    <h3 class=" card-header card-title mb-5">{{name}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-primary" href="/products/{{_id}}">Edit</a>
                        <a class=" mr-2 btn btn-danger" href="/products/{{_id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/if}}


</div>