<img src="{{user.profileImg}}" class="img-fluid" alt="{{user.farmname}}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h2>Welcome {{user.username}}!</h2>
            <hr>
            <p>{{user.description}}</p>
            <hr>
            <p><strong>Role:</strong>{{user.role}}</p>
            <p>Name: {{user.name}} {{user.surname}}</p>
            <hr>
            <h5>Contact info:</h5>
            <p>{{user.email}}</p>
            <p>{{user.address}}</p>
            <hr>

            {{#if isFarmer}}
            {{#if uncompleted}}
            <div class="alert alert-warning" role="alert">
                Please complete your profile
            </div>
            {{/if}}
            <a href="/profile/create-farm?id={{user.id}}" class="btn btn-warning">Create your farm profile</a>
            {{/if}}
            {{#if isBuyer}}
            <a href="/profile/edit-buyer?id={{user.id}}" class="btn btn-warning">Edit your profile</a>
            {{/if}}
        </div>
    </div>

    {{#if isFarmer}}
    <h2 class="mt-5">All my products</h2>
    <a href="/profile/{{user.id}}/create-product" class="mt-5 btn btn-success">Add product</a>
    <hr>
    <div class="row">

        {{#each allProducts}}
        <div class="col-md-4 mt-5">
            <div class="card ">
                <div class="card-body ">
                    <img class="card-img-top" src="{{productImg}}" alt="{{name}}">
                    <h3 class=" card-header card-title mb-5">{{name}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-primary" href="/profile/{{farm}}/edit-product?id={{id}}">Edit</a>
                        <a class=" mr-2 btn btn-danger" href="/profile/{{farm}}/delete-product?id={{id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    {{/if}}



</div>