<img src="{{user.profileImg.path}}" class="img-profile" alt="{{user.name}}">
<div class="container">
    <div class="row">
        <a href="/profile/log-out">Log out</a>
        <div class="col-md-12">
            <hr>
            <h2>Welcome {{user.username}}!</h2>
            <hr>
            <p>{{user.description}}</p>
            <hr>
            <p><strong>Role:</strong> {{user.role}}</p>
            <p>Name: {{user.name}} {{user.surname}}</p>
            <hr>
            <h5>Contact info:</h5>
            <p>{{user.email}}</p>
            <p>{{user.address}}</p>
            <hr>

            {{#if isFarmer}}
            <a href="/profile/create-farm?id={{user.id}}" class="btn btn-farm">Create your farm profile</a>
            {{/if}}

            <a href="/profile/edit-user?id={{user.id}}" class="btn btn-warning">Edit your profile</a>

        </div>
    </div>
    {{!-- favorites --}}
        <h3>Favorite Farms</h3>
    <div class="row">
        {{#each userInfo}}
        <div class="col-md-3">
            <div class="card ">
                <div class="card-body ">
                    <img class="card-img-top" src="{{farmImg.path}}" alt="{{farmname}}">
                    <h3 class=" card-header card-title mb-5">{{farmname}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-info" href="/profile/myfarm/{{_id}}">view more</a>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    {{#each allFarms}}
    <div class="row">
        <div class="col-md-4 mb-5 ">
            <div class="card ">
                <div class="card-body ">
                    <img class="card-img-top" src="{{farmImg.path}}" alt="{{farmname}}">
                    <h3 class=" card-header card-title mb-5">{{farmname}}</h3>
                    <div class="d-flex">
                        <a class=" mr-2 btn btn-farm" href="/profile/myfarm/{{_id}}">My farm</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each }}

</div>