<div class="container coasters-index">

    <h1>{{name}}</h1>
    <figure>
        <img src="{{profileImg}}" alt="{{farmname}}">
    </figure>
    <h4>Description</h4>
    <p>{{description}}</p>
    <p><strong>The Owner: </strong> {{name}} {{surName}} </p>


    {{!-- <a href="/farms/{{id}}" class="btn btn-dark">Read more </a> --}}


    <a href="/products" class="btn btn-dark">Go back </a>

</div>