<div class="container">

    <h1>{{name}}</h1>
    <figure>
        <img src="{{productImg}}" alt="{{name}}">
    </figure>
    <h4>Description</h4>
    <p>{{description}}</p>
    <p><strong>Price: </strong> {{price}} € | <strong>Stock: </strong> {{stock}}</p>

    <hr>

    <h5>About the farm</h5>
    <p><strong>Name:</strong> {{farm.farmname}}</p>
    <p><strong>Decription</strong>: {{farm.description}}</p>
    {{!-- <a href="/farms/{{id}}" class="btn btn-dark">Read more </a> --}}


    <a href="/products" class="btn btn-dark">Go back </a>

</div>